@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);

html {
  height: 100%;
  width: 100%;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background: #e8dada;
  color: #2d2a2c;
  font-family: Avenir, "Lato", "Apple SD Gothic Neo", "Malgun Gothic", dotum, AppleGothic, sans-serif, Gulim, Helvetica;
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

/* home */
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow:after {
  content: '';
  background: transparent url("http://imagizer.imageshack.us/v2/1024x768q90/924/vLXf7s.jp") repeat top left;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -15px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h1 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  padding: 0;
  line-height: 200px;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
}

.cb-slideshow li:nth-child(2) span {
    background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
    background-image: url("http://imagizer.imageshack.us/v2/1024x768q90/922/wyudJ6.jpg");
    animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
    animation-delay: 30s;
}


@keyframes imageAnimation {
    100% { opacity: 0; animation-timing-function: ease-in; animation-timing-function: ease-out; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h1 { font-size: 140px }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h1 { font-size: 80px }
}

#outer-container{
  overflow: hidden;
}


a {
  color: #4e4a46;
  text-decoration: none;

  &:hover {
    color: #c94e50;
  }

  &:focus {
    color: #c94e50;
  }
}


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #bc5f51;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #f2a69b;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}



/* Wrapper for item list */
.bm-item-list {
  color: #f2a69b;
  padding: 0.8em;

  span {
    margin-left: 10px;
    font-weight: 700;
  }
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.2);
}



@media screen and (max-width: 40em) {
  main {
    font-size: 80%;
  }

  h1 {
    padding-top: 1em;
    font-size: 2.5em;
  }

  .demo-buttons {
    max-width: 900px;
    padding: 0 2em;
  }
}

h1 {
  font-weight: 800;
  font-size: 3.75em;
}

main {
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  background: #b4bad2;
  overflow: scroll;
}

/* navigation */
a {
	color: #c14f84;
	text-decoration: none;
	-o-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.site-branding a, .site-branding a:hover, .site-branding a:focus, .site-description {
  color: #ffffff;
}

.whiteSpace a, h2.entry-title a {
	color: #5b5b5b;
}

a:hover,
a:focus,
a:active {
	color: #5b5b5b;
  outline: 0;
}

a:focus {
	outline: thin dotted;
}


/* Gride Css */

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

/* daily article */

.articles_inner {
    position: relative;
}

@media (max-width: 480px) {

articles_list {
    margin-left: 0;
}

articles_item {
    width: 100%;
    padding-bottom: 100%;
}

articles_contents {
    top: 14px;
    left: 0;
    border-radius: 0;
}

home {
    padding-top: 40px;
}
}

.home {
    max-width: 940px;
    padding: 60px 0 18px;
    margin: 0 auto;
}

.home_inner {
    position: relative;
}

.articles_list {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 -10px;

}

.articles_item {
    width: 33.3%;
    padding-bottom: 33.3%;
    float: left;
    position: relative;
}

.articles_title {
    margin: 0 0 12px;
    font-size: 2rem;
    line-height: 2.25rem;
}


.clear {
    clear: both;
}

.clear::after {
    content: ' ';
    clear: both;
    display: table;
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.articles_contents {
    position: absolute;
    background: #fff;
    padding: 40px 40px 0;
    overflow: hidden;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(21, 21, 20, 0.1);
    box-shadow: 0 1px 1px rgba(21, 21, 20, 0.1);
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;
}

.articles {
    margin-top: 0px;
}

article, aside, footer, header, nav, section {
    display: block;
}

.articles_contents::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 160px;
    content: ' ';
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr=$white, GradientType=0);
}

.articles_title a {
    color: #454545;
}

.a { background-color: transparent;
-webkit-text-decoration-skip: objects;
}

.articles_meta {
    font-size: .75rem;
    margin: 0 0 18px;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.meta {
    color: #b8b8b8;
}

.meta_datetime, .meta_categories, .meta_category-list, .meta_category-list-item {
    display: inline;
}

.meta_categories {
    margin-left: 8px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


main {
    height: 100%;
    padding: 3em 2em;
    text-align: center;
    background: #b4bad2;
    overflow: scroll;
}

/* content page */

.wrapper {
    padding: 0 14px;
}

.post {
    max-width: 940px;
    padding: 60px 0 18px;
    margin: 0 auto;
}

.post_inner {
    position: relative;
}

.header {
    width: 100%;
}

article, aside, footer, header, nav, section {
    display: block;
}

.header_inner {
    position: relative;
    padding: 0;
}

.clear {
    clear: both;
}

.clear::after {
    content: ' ';
    clear: both;
    display: table;
}

.header_brand {
    display: table;
    position: relative;
    float: left;
}

.header_profile {
    font-size: 0;
    padding-right: 14px;
}

.header_profile, .header_titles {
    display: table-cell;
    vertical-align: middle;
}

.header_picture {
    width: 65px;
    height: 65px;
    border-radius: 65px;
}

img {
    border-style: none;
}

.header_subtitle {
    font-size: .875rem;
    margin: 0;
    padding-top: .25rem;
    color: "#2d2a2c";
}

.header_subtitle p {

}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.post_body {
    background: #fff;
    margin-top: 40px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(21, 21, 20, 0.1);
    box-shadow: 0 1px 1px rgba(21, 21, 20, 0.1);
    overflow: hidden;
}

.post_mainland {
    padding: 140px 160px 120px;
}

.post_title {
    font-size: 2.375rem;
    margin: 0 0 32px;
    line-height: 2.75rem;
}

.meta {
    color: #b8b8b8;
}

.post_meta {
    font-size: .875rem;
    margin: 0 0 46px;
}

.meta_inner {
    position: relative;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}

.meta__datetime, .meta__categories, .meta__category-list, .meta__category-list-item {
    display: inline;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

.fa-clock-o:before {
    content: "\F017";
}

.meta_categories {
    margin-left: 8px;
}

.contents {
    line-height: 1.625rem;
}

.contents_inner {
    position: relative;
}

.contents h2 {
    font-size: 1.875rem;
}

.contents h2, .contents h3, .contents h4, .contents h5, .contents h6, .contents h4, .contents h5, .contents h6 {
    font-weight: 600;
    padding: 1rem 0 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #454545;
    line-height: 1;
    word-wrap: break-word;
}

.contents a {
    word-break: break-word;
    color: #2fb593;
}

.contents p {
    padding: 0;
    word-break: break-all;
}

.tags_tag-list {
    padding: 0;
    margin: 0;
}

.tags_tag-list, .tags_tag-list-item {
    display: inline;
}

.tags {
    color: #b8b8b8;
}

.post_tags {
    font-size: .875rem;
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

.tags_tag-list-item::after {
    position: absolute;
    right: -.25rem;
    content: ',';
}

.post_attachment {
    background: #f2f7f5;
    border-top: 1px solid #e7e7e7;
    padding: 60px 160px 140px;
}

img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

figure {
    display: inline-block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

figcaption {
    display: block;
    text-align: center;
}
